<%- include("./partials/header", {title: "Login page", style: "home"}) %>

<header>
    <%- include("./partials/banner", {link:"/auth", button: "Connexion"}) %>
</header>

<main>
    <div class="separator_section"></div>
    <section>
        <h2>Binvenue sur votre gestionnaire de budget gratuit !</h2>
        <div class="separator"></div>
        <p><strong>Budget-Dream</strong>  est un site qui facilite la gestion de son budget mensuel. Le but, en finir avec les fin de mois difficile ! <br> Grâce à cette application, en plus de suivre vos dépenses, vous pourrez suivre vos économies, fixer des objectifs et avec une bonne gestion, réaliser vos  rêves (voyages, plaisir...) tout en respectant votre budget. <br> Pour se lancer dans l'aventure, inscrivez-vous et démarrer votre comptabilité.</p>
    </section>
    <div class="separator_section"></div>
</main>



<%- include("./partials/footer") %>