table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .forecasts{
    min-width: 300px;
    border: 1px solid #7A6C7A;
    padding: 30px
  }

  fieldset{
    padding: 4rem;
  }
  span{
    font-weight: bold;
    text-align: center;
  }
 .danger{
    color: red;
  }
 .success{
    color: green;
  }