table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: 0.9rem;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  form{
    width: 100%;
  }
form input{
  width: 40px;
}

  .forecasts{
    min-width: 300px;
    border: 1px solid #7A6C7A;
    padding: 30px
  }

  fieldset{
    padding: 1rem;
  }
  span{
    font-weight: bold;
    text-align: center;
  }
 
  @media screen and (width >= 768px) {
    form input{
      width: 60px;
    }
    table{
      font-size: 1rem;
    }
}

@media screen and (width >= 992px) {
  form input{
    width: 90px;
  }
  table{
    font-size: 1rem;
    width: 800px;
  }
  fieldset{
    padding: 4rem;
  }
}