*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.space-between{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.btn-center, .center{
    display: flex;
    justify-content: center;
}
button{
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(5, 27, 59);
}
button:hover{
    background-color: rgb(143, 171, 211);
    color: black;
}
/* START BANNER */
.banner{
    width: 100%;
    height: 300px;
    background-image: url("/image/budget-dream_banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 25px;
}
#banner_block button{
    position: absolute;
    top: 20px;
    right: 10px;
}
#banner_block button:hover{
    background-color: rgb(8, 41, 89);
    color: #fff;
}
#banner_block h1{
    font-family: 'Island Moments', cursive;
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}
#banner_block p{
    color: #fff;
    font-size: 0.7rem;
}
/* END BANNER */

main{
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    color: grey;
    text-align: center;
}
strong{
    font-family: 'Island Moments', cursive;
    color: goldenrod;
    font-size: 2rem;
    font-weight: 500;
}

.separator_section{
    width: 100%;
    height: 70px;
}

.separator{
    width: 100%;
    height: 30px;
}

footer{
    width: 100%;
    height: 70px;
    background-color: #7A6C7A;
}

/* NavBar */
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    padding: 5px 10px;
}
nav ul li:hover{
    border-bottom: 1px solid rgb(213, 211, 211);
}
nav a {
    text-decoration: none;
    color: rgb(213, 211, 211);
    font-weight: 600;
}

nav{
    padding: 10px 0;
    background-color:#1e061e94;
}